<div class="container mat-typography">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Pizza is life</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="two-cols">
    <div class="col">
      <mat-card *ngIf="!pizza" class="drop-container-card">
        <div class="drop-container" ngFileDrop (uploadOutput)="onUploadOutput($event)"
             [uploadInput]="uploadInput">
          <h1>Drag & Drop pizza images here!</h1>
        </div>
      </mat-card>

      <mat-card class="pizza new-pizza" *ngIf="pizza">
        <mat-card-header>
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" [(ngModel)]="pizza.name" name="name"/>
          </mat-form-field>
        </mat-card-header>
        <img *ngIf="pizza.preview" mat-card-image [src]="pizza.preview">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Description" [(ngModel)]="pizza.description"
                   name="description"/>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="cancel()">CANCEL</button>
          <button mat-button color="primary" (click)="addPizza()">SAVE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col">
      <div *ngIf="(pizzas | async) as  pizzas">
        <div *ngFor="let pizza of pizzas.reverse()" class="pizza">
          <mat-card class="pizza-card">
            <mat-card-header>
              <mat-card-title><h2>{{pizza.name}}</h2></mat-card-title>
            </mat-card-header>
            <img mat-card-image *ngIf="pizza.url" [src]="pizza.url">
            <mat-card-content>
              <p>
                {{pizza.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn" (click)="deletePizza(pizza)">REMOVE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <h2 *ngIf='pizzas?.length === 0'>No pizzas :(</h2>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>

</div>
